.container {
  border: solid 2px;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 100%;
}
#welcome{
  background-color: gray;
  border: solid 2px;
}
#greenCol{
  background-color: lightgreen;
}
#blueCol{
  background-color: lightblue;
}
.green{
  background-color: green;
  border: solid 1px darkgreen;
}
.blue{
  background-color: blue;
  border: solid 1px darkblue;
}
.row{
  max-width: 100%;
}
#pink{
  background-color: pink;
}
.pinkCol{
  background-color: lightpink;
  border: solid 1px red;
}
